@charset 'UTF-8';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 100vw;
	height: 100dvh;
	background-color: #404040;
	color: #EAEAEA;
}

#theme-color-button {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 15px;
	bottom: 15px;
	background-color: var(--text);
	color: var(--main-background);
	border: none;
	border-radius: 50%;
	z-index: 100;
}

#theme-color-icon {
	width: 20px;
	height: 20px;
}

body > header {
	margin-bottom: 15px;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--highlight);
	color: var(--text);
}

body > header h1 {
	font-size: 1.5em;
}

main {
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

#calendar-box {
	width: 100%;
	max-width: 1500px;
	height: fifit-content;
	background-color: var(--main-background);
	color: var(--text);
	border-radius: 0.625rem;
}

#calendar-box header {
	padding: 1.5625rem 1.875rem 0.625rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#calendar-box header .current-date {
	font-size: 1.5rem;
	font-weight: 500;
}
   
#calendar-box header .icons {
	display: flex;
	gap: 0.625rem;
}

#calendar-box header .icons .icon {
	font-size: 2rem;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	user-select: none;
}

#calendar-box header .icons .icon:active {
	background-color: var(--text);
}
   
#calendar-box .calendar {
	padding: 1.25rem;
}
   
#calendar-box .calendar ul {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
   
#calendar-box .calendar li {
	font-size: 1rem;
	width: calc(100% / 7);
	color: var(--text);
	user-select: none;
}
   
#calendar-box .calendar .weeks li {
	font-weight: 700;
	cursor: default;
}
   
#calendar-box .calendar .days {
	margin-bottom:  1.25rem;
}
   
#calendar-box .calendar .days li {
	margin-top: 1.875rem;
	position: relative;
	transition: all 0.3s ease-in-out;
	z-index: 3;
}
   
#calendar-box .calendar .days li.inactive {
	color: #9E9E9E;
}
   
#calendar-box .calendar .days li.active {
	color: #FFF;
}
   
#calendar-box .calendar .days li::before {
	content: '';
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	transform: translate(-50%, -50%);
	z-index: -1;
}
   
#calendar-box .calendar .days li.active::before {
	background-color: var(--highlight);
}
   
#calendar-box .calendar .days li:not(.active):active::before {
	background-color: var(--main-background);
}